<% layout('layouts/boilerplate') %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stylesheets/RSVP.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <title>RSVP</title>
    </head>

    <body>

        <section class="sec">

<div class="test">

            

            <form action="/RSVP" method="post">


                <h1>RSVP for Sam and Marie's Wedding</h1>
                <div class="first">
                    <input type="text" name="firstName" id="firstName" class="input" placeholder=" " required />
                    <label for="First Name" class="label">First Name</label>
                </div>

                <div class="first">  
                    <input type="text" name="lastName" id="lastName" class="input" placeholder=" ">
                    <label for="Last Name" class="label">Last Name</label>
                </div>

                <div class="first">
                    <input type="email" name="email" id="email" class="input" placeholder=" ">
                    <label for="email" class="label">Email</label>
                </div>

<div class="btn2">
            <button class="btn1">RSVP</button>
        </div>

            </form>
            </div>
        </section>

    </body>

    </html>